<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <form>
        <app-payment
          [paymentForm]="optionsForm"
          (ngSubmit)="submitForm()"
        ></app-payment>
      </form>

      <p
        class="error-msg"
        *ngIf="checkoutForm.get('optionsCheckForm').valid; else loggedOut"
      >
        The value is:
        {{ checkoutForm.get('optionsCheckForm').get('optionForm').value }} - 
        {{ checkoutForm.get('optionsCheckForm').get('optionForm').status }}
      </p>

      <button
      type="submit"
      color="danger"
      expand="block"
      [disabled]="!checkoutForm.get('optionsCheckForm').valid"
      (click)="submitForm()"
      >
        Submit
      </button>

      <p>
      <br>checkoutForm:  {{ checkoutForm.status }}
      <br>optionsCheckForm:  {{ checkoutForm.get('optionsCheckForm').status }}
      <br>addressForm:  {{ checkoutForm.get('addressForm').status }}
      <br>{{ title }}
      </p>

      <span
        class="error-msg" 
        *ngIf="
          isFormSubmitted &&
          checkoutForm.controls['optionsCheckForm'].errors?.required
        "
      >
        Please select any option above!
      </span>

      <ng-template #loggedOut>
        <p>The value is: -</p>
      </ng-template>
    </div>
  </div>
</div>
