<p>
payment works!
</p>

<div class="mt-4"[formGroup]="paymentForm">
  <h4 class="mb-3">Choose your payment option</h4>
  <div class="row" formGroupName="option"></div>
  <div *ngFor="let option of options; let i=index">
    <input type="radio" [value]="option.value" [checked]="option.checked" formControlName="option" />
    <label>{{option.name}}</label>
  </div>
  
  <span class="error-msg" *ngIf="isFormSubmitted && paymentForm.controls['option'].errors?.required">
  Please select any option above!
  </span>
  
  <button [disabled]="!(paymentForm.get('option')).valid" type="submit" color="danger" expand="block" >Submit</button>
  
  <p class="error-msg" *ngIf="(paymentForm.get('option')).valid; else loggedOut"> The value is: 
  {{(paymentForm.get('option')).value}}
  </p>
  
  <ng-template #loggedOut>
  <p>The value is: -</p>
  </ng-template>

</div>